#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 {
  color: green;
}

p{
  color: blue;
}

li {
  display: block;
}

image {
  max-width: 40px;
  max-height: 40px;
}
